.user-card {
  background-color: var(--Darkblue);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
}

.user-card-head {
  background-color: var(--Desaturatedblue);
  border-radius: 10px;
  padding: 1.5em 1em;
  color: #fff;
  /* border: 1px solid magenta; */
}

.user-card-for {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid magenta; */
}

.user-image {
  width: 60px;
  height:60px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.user-image img {
  width: 100%;
  object-fit: cover;
}

.user-card-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* border: 1px solid magenta; */
  width: 70%;
}

.user-card-detail h1{
  margin: 0;
  font-size: 1.2rem;
  font-weight: 300;
}

.user-card-detail p{
  margin: 0;
  font-size: .875rem;
  color: var(--PaleBlue);
}

.user-card-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em .5em;
  color: var(--PaleBlue);
  font-weight: 300;
  text-transform: capitalize;
  /* border: 1px solid magenta; */
}

@media screen and (min-width: 900px){
  .user-card {
    height: 500px;
    width: 25%;
    gap: 1.5em;
  }

  .user-card-head {
    height: 60%;
  }

  .user-card-for {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
    margin: 0 auto;
    /* border: 1px solid magenta; */
    width: 90%;
  }

  .user-image {
    width: 80px;
    height: 80px;
  }



  .user-card-detail p {
    font-size: 1rem;
  }

  .user-card-detail h1 {
    font-size: 2.5rem;
  }

  .user-card-item{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:0 0;
    gap: .8em;
    /* border: 1px solid magenta; */
    margin: 0 1.5em;
  }
}
