.container {
  width: 80%;
  margin: 3em auto;
  max-width: 1400px;
}

.App {
  display: flex;
  flex-direction: column;
  /* border: 1px solid magenta; */
}

@media screen and (min-width: 900px) {
  .App{
    flex-direction: row;
    justify-content: space-between;
  }
}
